<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let carePlan"> {{carePlan.id}} </td>
    </ng-container>


    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let carePlan">  <span *ngIf="carePlan.category != undefined">
        <i *ngFor="let category of carePlan.category"> {{category.coding[0].display}}</i>
      </span> </td>
    </ng-container>

    <ng-container matColumnDef="categorylink">
      <th mat-header-cell *matHeaderCellDef width="5%"> </th>
      <td mat-cell *matCellDef="let carePlan">
         <span *ngIf="carePlan.category != undefined && carePlan.category[0].coding != undefined">

          <span *ngIf="isSNOMED(carePlan.category[0].coding[0].system)">
            <button mat-icon-button color="accent" ngbTooltip="{{getCodeSystem(carePlan.category[0].coding[0].system)}} {{carePlan.category[0].coding[0].code}}" (click)="getSNOMEDLink(carePlan.category[0].coding[0])">
                <mat-icon>book</mat-icon>
            </button>
          </span>
           <span *ngIf="!isSNOMED(carePlan.category[0].coding[0].system)">
                <mat-icon ngbTooltip="{{getCodeSystem(carePlan.category[0].coding[0].system)}} {{carePlan.category[0].coding[0].code}}">book_outline</mat-icon>
          </span>
      </span>
      </td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let carePlan"> {{carePlan.status}} </td>
    </ng-container>

    <ng-container matColumnDef="intent">
      <th mat-header-cell *matHeaderCellDef> Intent </th>
      <td mat-cell *matCellDef="let carePlan"> {{carePlan.intent}} </td>
    </ng-container>

    <ng-container matColumnDef="contextLink">
      <th mat-header-cell *matHeaderCellDef width="5%">Visit</th>
      <td mat-cell *matCellDef="let procedure">
        <span *ngIf="procedure.context != undefined">
          <button mat-icon-button color="accent"  ngbTooltip="View Encounter" (click)="showEncounter(procedure)"><mat-icon>today</mat-icon></button>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%">FHIR</th>
      <td mat-cell *matCellDef="let carePlan">  <button mat-icon-button color="accent"  ngbTooltip="View FHIR resource" (click)="select(carePlan)"><mat-icon>code</mat-icon></button>  </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
