<mat-grid-list cols="4"  rowHeight="250px" gutterSize="20px">
    <mat-grid-tile  *ngFor="let card of cards">
        <mat-card [style.minHeight]="'100%'" [style.minWidth]="'100%'">
            <mat-card-header>
                <img mat-card-avatar src="{{card.image}}">
                <mat-card-title>{{card.name}}</mat-card-title>
                <mat-card-subtitle>{{card.source}}</mat-card-subtitle>
            </mat-card-header>

              <mat-card-content>
                {{card.notes}}
              </mat-card-content>

            <mat-card-actions>
                  <button mat-icon-button color="accent" (click)="smartApp(card.url)"><mat-icon>play_circle_filled</mat-icon> Launch</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>